/**
 * Main file for global styling
 * (most of styling is per component and not declared here)
 */
html,
body {
  min-height: 100vh;
}

a:not(.MuiButton-root):not(.MuiListItemButton-root):not(.MuiIconButton-root):link,
a:not(.MuiButton-root):not(.MuiListItemButton-root):not(.MuiIconButton-root):hover,
a:not(.MuiButton-root):not(.MuiListItemButton-root):not(.MuiIconButton-root):active,
a:not(.MuiButton-root):not(.MuiListItemButton-root):not(.MuiIconButton-root):focus {
  color: #18a11e;
  text-decoration: underline;
}

a:not(.MuiButton-root):not(.MuiListItemButton-root):not(.MuiIconButton-root):visited {
  color: #558b58;
}

a:not(.MuiButton-root):not(.MuiListItemButton-root):not(.MuiIconButton-root):hover {
  text-decoration: none;
}

.root .MuiPaper-root.MuiAppBar-colorSecondary a:link,
.root .MuiPaper-root.MuiAppBar-colorSecondary a:visited {
  color: #fff !important;
}

.pagination-coins-list .MuiPagination-ul {
  display: inline-flex;
}

.root .MuiCardContent-root {
  padding: 1.5rem;
}

.root .MuiCardContent-root:last-child {
  padding-bottom: 2rem;
}

.cc-default {
  fill: #43a047;
}

.ADA {
  fill: #3cc8c8;
}
.ADC {
  fill: #3cb0e5;
}
.AEON {
  fill: #164450;
}
.AMP {
  fill: #048dd2;
}
.ANC {
  fill: #000;
}
.ARCH {
  fill: #002652;
}
.ARDR {
  fill: #1162a1;
}
.ARK {
  fill: #f70000;
}
.AST {
  fill: #18f18f;
}
.AUR {
  fill: #136c5e;
}
.BANX {
  fill: #225ba6;
}
.BAT {
  fill: #9e1f63;
}
.BAY {
  fill: #584ba1;
}
.BC {
  fill: #202121;
}
.BCN {
  fill: #964f51;
}
.BCY {
  fill: #123a5a;
}
.BELA {
  fill: #009ef9;
}
.BFT {
  fill: #4fc3f7;
}
.BLZ {
  fill: #6be6be;
}
.BRK {
  fill: #194fa0;
}
.BRX {
  fill: #a8c300;
}
.BSD {
  fill: #1186e7;
}
.BTA {
  fill: #210094;
}
.BTC,
.BCH {
  fill: #f7931a;
}
.BTCD {
  fill: #2a72dc;
}
.BTCP {
  fill: #272d63;
}
.BTM {
  fill: #9fa8b4;
}
.BTS {
  fill: #03a9e0;
}
.BURST {
  fill: #2d2d2d;
}
.CLAM {
  fill: #d6ab31;
}
.CLOAK {
  fill: #df3f1e;
}
.CVC {
  fill: #3ab03e;
}
.DAO {
  fill: #ff3b3b;
}
.DASH {
  fill: #1c75bc;
}
.DCR {
  fill: #3b7cfb;
}
.DCT {
  fill: #008770;
}
.DGB {
  fill: #0066cc;
}
.DGD,
.DGX {
  fill: #d8a24a;
}
.DMD {
  fill: #5497b2;
}
.DOGE {
  fill: #ba9f33;
}
.EMC {
  fill: #674c8c;
}
.EMC2 {
  fill: #00ccff;
}
.EOS {
  fill: #19191a;
}
.ERC {
  fill: #101e84;
}
.ETC {
  fill: #669073;
}
.ETH {
  fill: #282828;
}
.EXP {
  fill: #ffaa5c;
}
.FC2 {
  fill: #040405;
}
.FCT {
  fill: #2175bb;
}
.FLDC {
  fill: #c40e09;
}
.FLO {
  fill: #1358c8;
}
.FRK {
  fill: #0633cd;
}
.FTC {
  fill: #679ef1;
}
.FUN {
  fill: #ef3a5c;
}
.GAME {
  fill: #ed1b24;
}
.GBYTE {
  fill: #2c3e50;
}
.GDC {
  fill: #e9a226;
}
.GEMZ {
  fill: #e86060;
}
.GLD {
  fill: #e8be24;
}
.GNO {
  fill: #00a6c4;
}
.GNT {
  fill: #00d6e3;
}
.GOLOS {
  fill: #2670b7;
}
.GRC {
  fill: #88a13c;
}
.GRS {
  fill: #648fa0;
}
.HEAT {
  fill: #ff5606;
}
.HUC {
  fill: #ffc018;
}
.ICN {
  fill: #4c6f8c;
}
.IFC {
  fill: #ed272d;
}
.INCNT {
  fill: #f2932f;
}
.IOC {
  fill: #2fa3de;
}
.IOTA {
  fill: #ffffff;
}
.JBS {
  fill: #1a8bcd;
}
.KMD {
  fill: #326464;
}
.KOBO {
  fill: #80c342;
}
.KORE {
  fill: #df4124;
}
.LBC {
  fill: #015c47;
}
.LDOGE {
  fill: #ffcc00;
}
.LSK {
  fill: #0d4ea0;
}
.LTC {
  fill: #838383;
}
.MAID {
  fill: #5492d6;
}
.MARKS {
  fill: #504c4c;
}
.MCO {
  fill: #0d3459;
}
.MINT {
  fill: #006835;
}
.MONA {
  fill: #a99364;
}
.MRC {
  fill: #4279bd;
}
.MSC {
  fill: #1d4983;
}
.MTL {
  fill: #242424;
}
.MTR {
  fill: #b92429;
}
.MUE {
  fill: #f5a10e;
}
.NAV {
  fill: #7d59b5;
}
.MYST {
  fill: #f5a10e;
}
.NBT {
  fill: #ffc93d;
}
.NEO {
  fill: #58bf00;
}
.NEOS {
  fill: #1d1d1b;
}
.NEU {
  fill: #2983c0;
}
.NLG {
  fill: #003e7e;
}
.NMC {
  fill: #6787b7;
}
.NMR {
  fill: #8de8de;
}
.NOTE {
  fill: #42daff;
}
.NVC {
  fill: #ecab41;
}
.NXT {
  fill: #008fbb;
}
.OK {
  fill: #0165a4;
}
.OMG {
  fill: #1a53f0;
}
.OMNI {
  fill: #18347e;
}
.OPAL {
  fill: #7193aa;
}
.PART {
  fill: #05d5a3;
}
.PASC {
  fill: #f7931e;
}
.PIGGY {
  fill: #f27a7a;
}
.PINK {
  fill: #ed31ca;
}
.PIVX {
  fill: #3b2f4d;
}
.POT {
  fill: #105b2f;
}
.PPC {
  fill: #3fa30c;
}
.QRK {
  fill: #22aabf;
}
.QTUM {
  fill: #359bce;
}
.RADS {
  fill: #924cea;
}
.RBIES {
  fill: #c62436;
}
.RBT {
  fill: #0d4982;
}
.RBY {
  fill: #d31f26;
}
.RDD {
  fill: #ed1c24;
}
.REP {
  fill: #40a2cb;
}
.RIC {
  fill: #60e4dd;
}
.RHOC {
  fill: #c26c26;
}
.RISE {
  fill: #43cea2;
}
.SALT {
  fill: #373c43;
}
.SAR {
  fill: #1b72b8;
}
.SCOT {
  fill: #3498db;
}
.SDC {
  fill: #981d2d;
}
.SIA {
  fill: #00cba0;
}
.SJCX {
  fill: #003366;
}
.SLG {
  fill: #5a6875;
}
.SLS {
  fill: #1eb549;
}
.SNRG {
  fill: #160363;
}
.START {
  fill: #01aef0;
}
.STEEM {
  fill: #1a5099;
}
.STRAT {
  fill: #2398dd;
}
.SWIFT {
  fill: #428bca;
}
.SYNC {
  fill: #008dd2;
}
.SYS {
  fill: #0098da;
}
.TRIG {
  fill: #1fbff4;
}
.TX {
  fill: #1f8bcc;
}
.UBQ {
  fill: #00ec8d;
}
.UNITY {
  fill: #ed8527;
}
.USDT {
  fill: #2ca07a;
}
.VIA {
  fill: #565656;
}
.VIOR {
  fill: #1f52a4;
}
.VNL {
  fill: #404249;
}
.VPN {
  fill: #589700;
}
.VRC {
  fill: #418bca;
}
.VTC {
  fill: #1b5c2e;
}
.WAVES {
  fill: #24aad6;
}
.XAI {
  fill: #2ef99f;
}
.XBC {
  fill: #f7931a;
}
.XBS {
  fill: #d3261d;
}
.XCP {
  fill: #ec1550;
}
.XEM {
  fill: #41bf76;
}
.XLM {
  fill: #08b5e5;
}
.XMR {
  fill: #ff6600;
}
.XMY {
  fill: #bc3182;
}
.XPM {
  fill: #e5b625;
}
.XRP {
  fill: #346aa9;
}
.XTZ {
  fill: #a6df00;
}
.XVC {
  fill: #b50126;
}
.XVG {
  fill: #42afb2;
}
.XZC {
  fill: #23b852;
}
.YBC {
  fill: #d6c154;
}
.ZEC {
  fill: #e5a93d;
}
.ZEIT {
  fill: #acacac;
}
.ZRX {
  fill: #302c2c;
}

.led-red {
  margin: 0 auto;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  animation: blinkRed 0.5s infinite;
}

@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}

.led-yellow {
  margin: 0 auto;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  animation: blinkYellow 1s infinite;
}

@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}

.led-green {
  margin: 0 auto;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.float-animation {
  animation: float 2s infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}
