/**
 * Main file for global styling
 * (most of styling is per component and not declared here)
 */
html,
body {
  min-height: 100vh
}

.cc-default { fill: #43A047; }
.ADA { fill: #3CC8C8; }
.ADC { fill: #3CB0E5; }
.AEON { fill: #164450; }
.AMP { fill: #048DD2; }
.ANC { fill: #000; }
.ARCH { fill: #002652; }
.ARDR { fill: #1162a1; }
.ARK { fill: #F70000; }
.AST { fill: #18F18F; }
.AUR { fill: #136c5e; }
.BANX { fill: #225BA6; }
.BAT { fill: #9e1f63; }
.BAY { fill: #584ba1; }
.BC { fill: #202121; }
.BCN { fill: #964F51; }
.BCY { fill: #123A5A; }
.BELA { fill: #009EF9; }
.BFT { fill: #4fc3f7; }
.BLZ { fill: #6BE6BE }
.BRK { fill: #194fa0; }
.BRX { fill: #a8c300; }
.BSD { fill: #1186E7; }
.BTA { fill: #210094; }
.BTC, .BCH { fill: #F7931A; }
.BTCD { fill: #2A72DC; }
.BTCP { fill: #272D63; }
.BTM { fill: #9FA8B4; }
.BTS { fill: #03A9E0; }
.BURST { fill: #2D2D2D; }
.CLAM { fill: #D6AB31; }
.CLOAK { fill: #DF3F1E; }
.CVC { fill: #3AB03E }
.DAO { fill: #FF3B3B; }
.DASH { fill: #1c75bc; }
.DCR { fill: #3b7cfb; }
.DCT { fill: #008770; }
.DGB { fill: #0066cc; }
.DGD, .DGX { fill: #D8A24A; }
.DMD { fill: #5497b2; }
.DOGE { fill: #BA9F33; }
.EMC { fill: #674c8c; }
.EMC2 { fill: #00CCFF; }
.EOS { fill: #19191A; }
.ERC { fill: #101E84; }
.ETC { fill: #669073; }
.ETH { fill: #282828; }
.EXP { fill: #FFAA5C; }
.FC2 { fill: #040405; }
.FCT { fill: #2175BB; }
.FLDC { fill: #C40E09; }
.FLO { fill: #1358C8; }
.FRK { fill: #0633cd; }
.FTC { fill: #679EF1; }
.FUN { fill: #EF3A5C; }
.GAME { fill: #ed1b24; }
.GBYTE { fill: #2C3E50; }
.GDC { fill: #E9A226; }
.GEMZ { fill: #e86060; }
.GLD { fill: #E8BE24; }
.GNO { fill: #00A6C4; }
.GNT { fill: #00d6e3; }
.GOLOS { fill: #2670B7; }
.GRC { fill: #88A13C; }
.GRS { fill: #648FA0; }
.HEAT { fill: #ff5606; }
.HUC { fill: #FFC018; }
.ICN { fill: #4c6f8c; }
.IFC { fill: #ed272d; }
.INCNT { fill: #f2932f; }
.IOC { fill: #2fa3de; }
.IOTA { fill: #FFFFFF; }
.JBS { fill: #1A8BCD; }
.KMD { fill: #326464; }
.KOBO { fill: #80C342; }
.KORE { fill: #DF4124; }
.LBC { fill: #015C47; }
.LDOGE { fill: #ffcc00; }
.LSK { fill: #0D4EA0; }
.LTC { fill: #838383; }
.MAID { fill: #5492D6; }
.MARKS { fill: #504C4C; }
.MCO { fill: #0D3459; }
.MINT { fill: #006835; }
.MONA { fill: #a99364; }
.MRC { fill: #4279bd; }
.MSC { fill: #1D4983; }
.MTL { fill: #242424; }
.MTR { fill: #b92429; }
.MUE { fill: #f5a10e; }
.NAV { fill: #7D59B5; }
.MYST { fill: #f5a10e; }
.NBT { fill: #FFC93D; }
.NEO { fill: #58BF00; }
.NEOS { fill: #1d1d1b; }
.NEU { fill: #2983c0; }
.NLG { fill: #003E7E; }
.NMC { fill: #6787B7; }
.NMR { fill: #8DE8DE; }
.NOTE { fill: #42daff; }
.NVC { fill: #ecab41; }
.NXT { fill: #008FBB; }
.OK { fill: #0165A4; }
.OMG { fill: #1A53F0; }
.OMNI { fill: #18347E; }
.OPAL { fill: #7193AA; }
.PART { fill: #05D5A3; }
.PASC { fill: #F7931E; }
.PIGGY { fill: #F27A7A; }
.PINK { fill: #ED31CA; }
.PIVX { fill: #3b2f4d; }
.POT { fill: #105B2F; }
.PPC { fill: #3FA30C; }
.QRK { fill: #22AABF; }
.QTUM { fill: #359BCE; }
.RADS { fill: #924cea; }
.RBIES { fill: #C62436; }
.RBT { fill: #0d4982; }
.RBY { fill: #D31F26; }
.RDD { fill: #ED1C24; }
.REP { fill: #40a2cb; }
.RIC { fill: #60E4DD; }
.RHOC { fill: #C26C26; }
.RISE { fill: #43CEA2; }
.SALT { fill: #373C43; }
.SAR { fill: #1B72B8; }
.SCOT { fill: #3498DB; }
.SDC { fill: #981D2D; }
.SIA { fill: #00CBA0; }
.SJCX { fill: #003366; }
.SLG { fill: #5A6875; }
.SLS { fill: #1EB549; }
.SNRG { fill: #160363; }
.START { fill: #01AEF0; }
.STEEM { fill: #1A5099; }
.STRAT { fill: #2398dd; }
.SWIFT { fill: #428BCA; }
.SYNC { fill: #008DD2; }
.SYS { fill: #0098DA; }
.TRIG { fill: #1fbff4; }
.TX { fill: #1F8BCC; }
.UBQ { fill: #00ec8d; }
.UNITY { fill: #ED8527; }
.USDT { fill: #2CA07A; }
.VIA { fill: #565656; }
.VIOR { fill: #1F52A4; }
.VNL { fill: #404249; }
.VPN { fill: #589700; }
.VRC { fill: #418bca; }
.VTC { fill: #1b5c2e; }
.WAVES { fill: #24aad6; }
.XAI { fill: #2ef99f; }
.XBC { fill: #F7931A; }
.XBS { fill: #d3261d; }
.XCP { fill: #EC1550; }
.XEM { fill: #41bf76; }
.XLM { fill: #08B5E5; }
.XMR { fill: #FF6600; }
.XMY { fill: #BC3182; }
.XPM { fill: #e5b625; }
.XRP { fill: #346AA9; }
.XTZ { fill: #A6DF00; }
.XVC { fill: #B50126; }
.XVG { fill: #42AFB2; }
.XZC { fill: #23B852; }
.YBC { fill: #D6C154; }
.ZEC { fill: #e5a93d; }
.ZEIT { fill: #ACACAC; }
.ZRX { fill: #302C2C; }
